body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 120px;
}

#CVContainer {
    display: flex;
    margin: 0 auto;
    width: 80%;
    background-color: white;
   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


#leftSide {
    background-color: rgb(25, 114, 186);
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    
}

#profilePic {
    width: 162px;
    height: 162px;
    margin-top: 10%;
    border-radius: 50%;
    margin-bottom: 20px;
}
#aboutMe{
    color: #f4f4f4;
}
#about{
    text-align: justify;
    hyphens: auto;
}
#rightSide {
    padding: 20px;
    width: 65%;
}
h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #100f0f;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #ff737c;
}

@media(max-width:426px){
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 5px;
    }
    #CVContainer {
        display: flex;
        margin: 0 auto;
        width: 97%;
        background-color: white;
       
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    #profilePic {
        width: 123px;
        height: 123px;
        margin-top: 4%;
        border-radius: 50%;
        margin-bottom: 9px;
    }
    h3 {
        font-size: 13px;
        padding: 2%;
        color: black;
       padding-right: 0%;
        border-radius: 10px;
        box-shadow: 0 0 8px #100f0f;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #leftSide {
        background-color: rgb(25, 114, 186);
        color: white;
        padding: 19px;
        width: 35%;
        text-align: center;
        padding-left: 14px;
        
    }
    #rightSide {
        padding: 9px;
        width: 65%;
        font-size: 12px;
    }
    #about{
        text-align: justify;
        hyphens: auto;
        font-size: small;
    }
    ul {
        list-style-type: fill round;
        margin: 5px 0;
    }  
    ul li {
        margin: 3px 0;
    }
    button {
        font-family: Arial, sans-serif;
        border-radius: 10px;
        box-shadow: 0 0 8px black;
        cursor: pointer;
        margin-top: 2px;
        font-size: 13px;
    }
}
